{% extends 'base1.html' %}
{% load static %}
{% block content %}

<body>
{% if ebook.book_audioFile %}
    <audio controls>
        <source src="{{ ebook.book_audioFile.url }}" type="audio/mpeg">
    </audio>
{% endif %}
<!--{% for i in audio_file_url %}-->
<!--              <audio controls>-->
<!--                <source src="{{  'media/audio/pdf_to_audio'  }}" type="audio/mpeg">-->

<!--                Your browser does not support the audio tag.-->
<!--              </audio>-->
<!--	{% endfor %}-->

</body>
{% endblock content %}
