{% extends 'base1.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <br><br>

        <h2>Review Analysis of Books</h2>
        {% if book_data %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Book Name</th>
                <th>Sentiment_scores ofReview</th>
              </tr>
            </thead>
            <tbody>
              {% for i in book_data %}
                <tr>
                  <td>{{ i.book_name }}</td>
                  <td>{{ i.sentiment_scores }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
      <div class="col-md-4">
        <br>
        <h2>Bar Chart</h2>
        {% if plot_div %}
          {{ plot_div|safe }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
